body, html, main, header {
  background-color: black;
}

header {
  align-items: center;
  background-image: url('/src/images/walking1.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 60px;
  text-shadow:1px 0 0 #111111,0 1px 0 #111111,-1px 0 0 #111111,0 -1px 0 #111111;
}

.welcome {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  text-shadow:1px 0 0 #111111,0 1px 0 #111111,-1px 0 0 #111111,0 -1px 0 #111111;
}

main {
  align-content: space-around;
  background-image: linear-gradient(to bottom right, red, orange, yellow);
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-evenly;
  width: 100vw;
}

.widget {
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 35%;
  width: 40%;
}

.multiBox {
  align-items: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  height: 35%;
  width: 40%;
}

.sub-widget {
  align-items: center;
  background-color: white;
  border-radius: 12px;
  box-shadow:
  0 1px 1px hsl(0deg 0% 0% / 0.075),
  0 2px 2px hsl(0deg 0% 0% / 0.075),
  0 4px 4px hsl(0deg 0% 0% / 0.075),
  0 8px 8px hsl(0deg 0% 0% / 0.075),
  0 16px 16px hsl(0deg 0% 0% / 0.075)
  ;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0px;
  width: 50%;
}

.label {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  margin-bottom: 25px;
  margin-top: 15px;
}

p {
  margin: 10px;
}

h2 {
  font-size: 1em;
  margin: 5px;
  margin-left: 15px;
}

h5 {
  font-size: 1em;
  margin: 2px, 0px;
}

b {
  font-size: 1.2em;
}

/*Friend List Widget*/
.info-override {
  background-color: transparent;
  box-shadow: none;
}
.user-and-friend-widget {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

.user-friends-widget {
  margin-left: 7px;
}

.friend-list {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-align: center;
}

.indiv-friend {
  margin-bottom: 10px;
}

.user-info-card {
  width: 25vw;
  margin-right: 7px;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


/* Hydration Widget */
.day-drink-label
.week-drink-label {
  margin-bottom: 40px;
}

.week {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 7px;
}

.day-ounces {
  font-size: 3em;
  margin-top: 10px
}

.user-drink-goals {
  font-size: 1.7em;
}

.indiv-ounce {
  font-size: 1.2em;
  margin-bottom: 2px;
}

/*Sleep Widget*/
.single {
  margin-right: 7px;
}

.top-sleep {
  display: flex;
  width: 100%;
}

.top-two-box {
  height: 15vh;
  margin-bottom: 10px;
  width: 50%;
}

.sleep-label {
  font-size: 1.2em;
  margin-top: 0px;
}

.transparent-widget {
  background-color: transparent;
  box-shadow: none;
}

.sleep-week-data {
  width: 100%;
}

.week-days {
  display: flex;
  width: 100%;
}

.calendar-day {
  font: 5px;
  height: 75px;
  margin-left: 3px;
  margin-right: 3px;
  text-align: center;
  width: 14.25vw;
}

/*ACTIVITIES*/
.top-activity {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bottom-activity {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.activity-card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.activity-card-label {
  margin-bottom: 10px;
}

.activity-text {
  margin-bottom: 15px;
}

.avg-container {
  width: 100%;
  margin-top: 10px;
}

.avg-card {
  font-size: 9.5px;
}

span {
  color: orangered;
}

.weekly-activity-sub-widget {
  display: flex;
  margin-top: 10px;
  width: 100%;
}

.activity-label {
  margin-bottom: 10px;
}

.activity-week-days {
  margin-top: 5px;
  font-size: 9.5px;
}